admin/__test__/
admin/.next/
admin/build/
admin/coverage/
admin/node_modules/
admin/out/

data/.mypy_cache
data/.pytest_cache
data/**/__pycache__
data/tests

public/__test__/
public/.next/
public/build/
public/coverage/
public/node_modules/
public/out/

server/target/


**/.vscode/
**/.idea/

**/*.md
**/*.pdf
**/.gitignore