@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #f1f6ea;
  --text-rgb: #0d1208;
  --text-white: #f0f0f0;
  --primary: #a2d69f;
  --primary-800: #327C41;
  --primary-900: #1E6632;
  --secondary: #d4eddf;
  --secondary-800: #438977;
  --secondary-900: #287166;
  --accent: #9fd6b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-rgb);
  background: var(--background-rgb);
}

.primaryButton {
  color: var(--text-rgb);
  background-color: var(--primary);
}

.sideBar{
  color: var(--text-white);
  background-color: var(--primary-900);
}

.category:hover{
  background-color: var(--primary-800);
}

.secondaryButton {
  color: var(--text-rgb);
  background-color: var(--secondary);
}

.primaryIcon{
  color: var(--primary-800);
}

.secondaryIcon{
  color: var(--secondary-800);
}